<footer class="bg-gray-950 p-5 overflow-hidden relative">
    <div class="flex gap-4">
        <div class="w-1/2 text-white">
          IALA - Derechos reservados 2025
        </div>
        <div>

        </div>
    </div>
</footer>