---
import IalaCogs from './IalaCogs.astro';
---
<section class="bg-[#005199] text-white flex">
    <div class="w-1/2 py-30 px-10">
        <h2 class="text-4xl font-bold mb-4 opacity-0 transition-all duration-700 ease-out scroll-animate translate-y-20">
            Tu negocio conectado, clientes felices, éxito garantizado.
        </h2>
        <div class="text-lg opacity-0 transition-all duration-700 ease-out scroll-animate translate-y-20 delay-300">
            Descubre cómo la inteligencia artificial puede transformar la forma en que interactúas con tus clientes. Nuestros asistentes virtuales inteligentes están diseñados para responder en segundos, gestionar reservas y automatizar tareas repetitivas, permitiéndote ahorrar tiempo y aumentar tus ventas. Con tecnología avanzada y personalización total, llevamos tu negocio al siguiente nivel.
        </div>
    </div>
    <div class="overflow-hidden w-1/2">
        <IalaCogs />
    </div>
</section>