<section class="h-screen bg-black relative top-0 left-0 w-full h-full">
    <div class="absolute inset-0 overflow-hidden z-1 opacity-20 bg-black">
        <video autoplay loop muted class="w-full h-full object-cover scale-200 ml-65">
            <source src="/videos/iala-home-00.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="flex flex-row justify-between items-center h-full px-6 container mx-auto relative z-10 bg-blue/50 dark:bg-opacity-70 mix-blend-difference">
        <div class="w-1/2">
            <h1 class="text-white text-6xl yext">Somos el engranaje que conecta ventas, atención al cliente y efectividad</h1>
        </div>
        <div class="w-1/2">
        </div>
    </div>
</section>