---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---
<section class="px-20 text-black bg-white">
    <div class="flex items-center">
        <div class="opacity-0 transition-all duration-700 ease-out scroll-animate translate-y-20 w-1/2">
            <h2 class="text-6xl mb-3">Usa IALA en tu mensajería de confianza</h2>
            <p class="text-3xl">Y tus clientes recibirán una respuesta en el momento que escriben.</p>
        </div>
        <div class="w-1/2">
            <div class="">
                <LottieAnimation src="assets/chat.json" autoplay="visible" />
            </div>
        </div>
    </div>
</section>