---
import Cog from '@images/iala-cog.svg';
---
<div class="relative">
    <div class="absolute top-0 left-50 scale-150 opacity-40">
        <Cog aria-label="Cog" class="fill-white animate-[spin_20s_linear_infinite]" />
    </div>
    <div class="absolute top-0 left-50 opacity-40">
        <Cog aria-label="Cog" class="fill-white animate-[spin_reverse_10s_linear_infinite]" />
    </div>
</div>